# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/CLIENT/finalapp/node_modules
/CLIENT/finalapp/.pnp
/CLIENT/finalapp/.pnp.js

# testing
/CLIENT/finalapp/coverage

# production
/CLIENT/finalapp/build

# misc
/CLIENT/finalapp/.DS_Store
/CLIENT/finalapp/.env.local
/CLIENT/finalapp/.env.development.local
/CLIENT/finalapp/.env.test.local
/CLIENT/finalapp/.env.production.local

/CLIENT/finalapp/npm-debug.log*
/CLIENT/finalapp/yarn-debug.log*
/CLIENT/finalapp/yarn-error.log*
/SERVER/node_modules
